/*basic tags*/

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}



input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    /*margin: 0 0 10px 0;*/
    text-align: center;
}

hr{
    border-top-color: #afafaf;
}

#show-listings,#hide-listings{
    width:100%;
}

.col-centered{
    text-align: center;
    margin: 0px;
}

/*Custom Buttons*/

button,
button:hover,
button:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

button:active {
    color: white !important;
}

.btn {
    border: 1px solid;
}

.btn:hover {
    border: 1px solid grey;
}



/*Wrapper for Left/Right panels*/

.wrapper {
    height: 100%;
    position: relative;
    overflow-y: hidden;
}



/*Map Wrapper : Right Panel*/

.map_wrapper {
    bottom: 0px;
    height: 100%;
    padding: 0px;
    position: absolute;
    right: 0px;
    left: 20%;
    background-color: #ebebed;
}



/* when width is minimum @media(529px)*/

.map_wrapper-with-filter {
    left: 20%;
    /*-webkit-transition-duration: 0.2s;*/
    transition: visibility 0.2s;
    bottom: 0px;
    height: 100%;
    padding: 0px;
    /*left: 340px;*/
    position: absolute;
    right: 0px;
}


/*Filter Wrapper */


/*Left Panel*/

.options-box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    text-align: left;
    width: 20%;
    overflow-y: auto;
    background-color: #dadada;
}



/*onClick of hamburger*/

.options-box-hide {

    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    text-align: left;
    width: 20%;
    display: none;
}



/* when width is minimum @media(529px)*/

.options-box-hide-with-filter {

    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    text-align: left;
    width: 20%;
    overflow-y: auto;
}




/* Styling for Google Maps */

#map {
    padding: 0px;
    /*left: 340px;*/
    position: absolute;
    right: 0px;
    left: 0px;
    top: 50px;
    bottom: 0px;
    height: 100%;
}




/*NavBar*/

.navbar-heading {
    color: #ebebeb !important;
    margin: 0px;
}

.navbar-default {

    background-color: #2d3044;
}

.custom-navbar{
    /*color: #2d3044;*/
    margin: 0px;
}

.custom-navbar:hover{
    color: #ebebeb;
}


/* Info Window */


/* Panorama div */

#pano {
    width: 200px;
    height: 200px;
}

.title {
    color: #525454;
    font-size: 1.2em;
    /*margin: 0 0 10px 0;*/
    text-align: center;
}

.content {
    font-size: 0.8em;
}

.list-group-item {
    margin: 1%;
}



/* Custom Padding */

.padding-left {
    padding: 10px;
}

.filter-padding {
    padding: 5px;
}



/* Responsive Design */
@media (max-width:1366px) {


    .col-md-6{
        width:50%;
        padding: 1px;
    }
    .map_wrapper {
        left: 25%;
        -webkit-transition-duration: 0.2s;
    }

    .options-box {
        width: 25%;
    }

}

@media (max-width:990px) {
    .col-md-6{
        width:100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .map_wrapper {
        left: 25%;
        -webkit-transition-duration: 0.2s;
    }

    .options-box {
        width: 25%;
    }

}

@media (max-width:835px) {


    .map_wrapper {
        left: 30%;
        -webkit-transition-duration: 0.2s;
    }

    .options-box {
        width: 30%;
    }
/*
    .map_wrapper-with-filter {
        left: 30%;
    }
    .options-box-hide-with-filter {
        width: 30%;
    }*/
}

@media (max-width:710px) {


    .map_wrapper {
        left: 35%;
        -webkit-transition-duration: 0.2s;
    }

    .options-box {
        width: 35%;
    }
/*
    .map_wrapper-with-filter {
        left: 35%;
    }
    .options-box-hide-with-filter {
        width: 35%;
    }*/
}

@media (max-width:529px) {


    .map_wrapper {
        -webkit-transition-duration: 0.2s;
        left: 0px;
    }

    .options-box {
        display: none;
    }

    .map_wrapper-with-filter {
        left: 60%;
    }
    .options-box-hide-with-filter {
        width: 60%;
    }
}